node_modules/
.idea
.vs

electron-app/build
electron-app/out
electron-app/.env

build-installer/dynamo-scripts/*
build-installer/installers/*
build-installer/out/*
build-installer/revit-addin-files/*
build-installer/misc/custom_families

revit-addin/**/[Pp]ackages/*